html{
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: white;
}

header {
  background-color: black;
  width: 100%;
}

a{
  color: white;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.header{
  display: flex;
  align-items: center;
}

.header .logo{
  height: 1.5rem;
  width: auto;
  padding-left: 0.5rem;
}

.header .title {
  font-size: 1rem;
  padding: 0.66rem 1rem;
}

.main_banner{
  width: 100%;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline{
  max-width: 20rem;
  background-color: black;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

.headline h4 {
  font-size: 1rem;
  padding-bottom: 1.25rem;
}

.headline h1 {
  font-size: 2rem;
}

.navigation {
  width: 100%;
  background-color: firebrick;
  z-index: 5;
}

.big_screen {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
}

.small_screen {
  display: none;
}

.product_grid {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.product {
  width: 30%;
  border: 4px solid black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product_image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  overflow: hidden;
}

.product_image img {
  height: 100%;
  width: auto;
}

.product_image .wide_img {
  width: 100%;
  height: auto;
}

.product .title {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.information {
  display: flex;
  justify-content: space-between;
}

.info_item {
  width: 35%;
}

.info_item .title{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.info_item p {
  color: black;
  padding: 0.25rem;
}

footer {
  margin-top: 4rem;
  width: 100%;
  height: 5rem;
  background-color: black;
}

footer .container {
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px){
  .headline h1{
    font-size: 1.5rem;
  }

  .big_screen{
    display: none;
  }

  .small_screen{
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
  }

  .product {
    width: 47%;
  }

  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px){
  .main_banner {
    height: 15rem;
  }

  .headline {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .headline h4 {
    font-size: 0.77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }

  .watch{
    display: none;
  }

  .product_grid{
    justify-content: center;
  }

  .product {
    width: 90%;
  }

  .information{
    flex-direction: column;
    align-items: center;
  }

  .info_item {
    width: 90%;
    padding-bottom: 0.5rem;
  }

  footer .container {
    justify-content: center;
  }
}
